<%= @tweet.content %>
<%= @tweets.each do |tweet|%>
  <% tweet.content%>
<%= end %>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="submit" value="Delete Tweet">
</form>
