<h1>Welcome, <%= @user.username %>
<h3> Your Tweets: </h3>

<% @user.tweets.each do |tweet| %>
  <li><%= tweet.content %></li>
<% end %>

<% if logged_in? %>
<a href="/tweets/new">New Tweet</a>
<a href="/logout">Log Out</a>
<% end %>