<h3>Sign Up</h3>
  <form action="/signup" method="POST">
    Email: <input type="text" name="email" id=="email">
    Username: <input type="text" name="username" id="username">
    Password: <input type="password" name="password" id="password">
    <input type="submit" id="submit" value="Sign Up">
  </form>